*.out
*.txt
*.o
*.d
*.bin
/compile_commands.json
/miniRT
/.vscode
/.cache
*.swp
/*.dSYM
tags
*.a
*.exe
/image.*
/*.ppm
/*.png
kernel*.bin
compile
/san-miguel
/library
/pack.png-juc
/pack.png-obj2rt
/sibenik
/mc
/sponza.*
*.zip
*.bat
*.gz
.*.jrtastic
/pack
/pack.rt
