[submodule "scenes"]
	path = scenes
	url = https://github.com/jumboRT/scenes.git
[submodule "joincd"]
	path = joincd
	url = https://github.com/jumboRT/joincd.git
[submodule "jup"]
	path = jup
	url = https://github.com/jumboRT/jup.git
