[submodule "scenes"]
	path = scenes
	url = git@github.com:jumboRT/scenes.git
[submodule "joincd"]
	path = joincd
	url = git@github.com:jumboRT/joincd.git
[submodule "jup"]
	path = jup
	url = git@github.com:jumboRT/jup.git
