*.out
*.txt
*.o
*.d
*.bin
/compile_commands.json
/miniRT
/.vscode
/.cache
*.swp
/*.dSYM
tags
*.a
*.exe
/image.ppm
/image.png
kernel*.bin
compile
/san-miguel
/library
/sibenik
/mc
/sponza.*
*.zip
*.bat
*.gz
.*.jrtastic
